<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jin Chang Tech.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>精創科技</h1>
        <h3>匠師精神 卓越技術</h3>
        <p><a class="btn btn-primary btn-lg" href="jobs" role="button">馬上應徵</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://ogk4z553l.bkt.clouddn.com/professional.png" alt="search" class = "img-thhumbnail">
            <h2>專業化團隊</h2>
            <p>創立於1974年，專精致力於各類型高科技精密電子零組件製造，公司成員皆是長期深耕業界的專業人士，亦有專業的內部培訓團隊。</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://ogk4z553l.bkt.clouddn.com/worldwide.png" alt="bid" class = "img-thhumbnail">
            <h2>職位面對全球</h2>
            <p>公司致力於全球化發展，在世界各主要國家都有工作職位，歡迎具有專業技術及跨國語言能力的專業人士加入。</p>
            <br>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
       </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://ogk4z553l.bkt.clouddn.com/software01.png" alt="heart" class = "img-thhumbnail">
            <h3>聯繫方式</h3>
            <p>Phone: 0574-12345678</p>
            <p>email: Jintech@jintech.com</p>
            <br><br><br>
         </div>
      </div>

    </div> <!-- /container -->
